.item {
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  display: flex;
}
.item1 {
  height: 50px;
  width: 50px;
}
.item2 {
  height: 100px;
  width: 100px;
}
.item3 {
  height: 150px;
  width: 150px;
}
